*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* shared style */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    padding: 12px 16px;
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    font-weight: semi-bold;
}

.logo h2{
    width: 139px;
    height: 60px;
}

/* main style */
header{
    background-color: #FFFFFF;
    padding-top: 16px;
}

nav{
    width: 96%;
    max-width: 1600px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
}

nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    margin: 0px auto;
}

#hero {
    height: 674px;
    background-image: url('/assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 14%;
    display: flex;
    align-items: center; 
}

.hero-content {
  width: 1360px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  gap: 32;
}

#hero .hero-btn-1 {
    margin-top: -30px;
    margin-bottom: 16px;
    align-items: center;
    justify-content: center;
    
}

#hero .hero-btn-1 .badge-btn {
    background-color: #FFFFFF;
    padding: 8px 12px;
    border-radius: 1000px;
    font-size: 16px;
    color: #30B868;
    font-weight: medium;
    border: none;
}

#status-dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgba(48, 184, 104, 0.25);

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#status-dot::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #30B868;
}

#hero .hero-head {
  width: 1200px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0%;
  text-align: center;

}

#white {
    color: #FFFFFF;
}

#green {
    color: #30B868;
}

.hero-pragraph {
  width: 700px;
  margin: 0px auto;
  display: flex;
  text-align: center;
  font-size: 18px;
  font-weight: 400px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 20px;
}

.hero-cta {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    
}

.cta-1 {
    background-color: #30B868;
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: medium;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 12px 16px 12px 16px;
}

.cta-2 {
    background-color: transparent;
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: medium;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 12px 16px 12px 16px;
    border: 1px solid #FFFFFF;
}

.intro {
    width: 100%;
    height: 448px;
    margin: 0px auto;
}

.intro-head {
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    text-align: center;
    margin-top: 50px;
}

.intro-paragraph {
    font-size: 13px;
    color: #627382;
    text-align: center;
    margin-top: 16px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 44px;
}

.card {
    width: 322px;
    padding: 69.5px 25px
    ;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: solid rgba(39, 30, 30, 0.045);
    display: flex;
    flex-wrap: wrap;
}

.card img {
    background-color: #F95555;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 7px solid #F95555;
    margin-bottom: 14px;
}

.card-heading {
    color: #001931;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 14px;
}

.card-paragraph {
    font-size: 12px;
    color: #627382;
    text-align: center;
}

