*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* shared style */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    padding: 12px 16px;
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    font-weight: semi-bold;
}

.logo h2{
    width: 139px;
    height: 60px;
}

/* main style */
header{
    background-color: #FFFFFF;
    padding-top: 16px;
}

nav{
    width: 96%;
    max-width: 1600px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
}

nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    margin: 0px auto;
}

#hero {
    height: 674px;
    background-image: url('./assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 14%;
    display: flex;
    align-items: center; 
}

.hero-content {
  width: 1360px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  gap: 32;
}

#hero .hero-btn-1 {
    margin-top: -30px;
    margin-bottom: 16px;
    align-items: center;
    justify-content: center;
}

#hero .hero-btn-1 .badge-btn {
    background-color: #FFFFFF;
    padding: 8px 12px;
    border-radius: 1000px;
    font-size: 16px;
    color: #30B868;
    font-weight: medium;
    border: none;
}

#status-dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgba(48, 184, 104, 0.25);

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#status-dot::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #30B868;
}

#hero .hero-head {
  width: 1200px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0%;
  text-align: center;

}

#white {
    color: #FFFFFF;
}

#green {
    color: #30B868;
}

.hero-pragraph {
  width: 700px;
  margin: 0px auto;
  display: flex;
  text-align: center;
  font-size: 18px;
  font-weight: 400px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 20px;
}

.hero-cta {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    
}

.cta-1 {
    background-color: #469165;
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: medium;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 12px 16px 12px 16px;
}

.cta-2 {
    background-color: transparent;
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: medium;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 12px 16px 12px 16px;
    border: 1px solid #FFFFFF;
}

.intro {
    width: 100%;
    height: 448px;
    margin: 0px auto;
}

.intro-head {
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    text-align: center;
    margin-top: 50px;
}

.intro-paragraph {
    font-size: 13px;
    color: #627382;
    text-align: center;
    margin-top: 16px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 44px;
}

.card {
    width: 322px;
    padding: 69.5px 25px
    ;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: solid rgba(39, 30, 30, 0.045);
    display: flex;
    flex-wrap: wrap;
}

.card img {
    background-color: #F95555;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 7px solid #F95555;
    margin-bottom: 14px;
}

.card-heading {
    color: #001931;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 14px;
}

.card-paragraph {
    font-size: 16px;
    color: #627382;
    text-align: center;
}


.knowledge-container {
    display: flex;
    margin: 0px auto;
    align-items: center;
    width: 1360px;

}

.knowledge-image {
    width: 600px;
    height: 600px;
}
.knowledge-pre-head {
    width: 700px;
    margin-top: -101.5px;
    margin-bottom: 16px;
    font-size: 16px;
    color: #469165;
    font-weight: 500;
}

.knowledge-head {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}



.knowledge-paragraph {
    width: 700px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #627382;
    margin-bottom: 40px;
}

.knowledge-list li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 0;
}

.knowledge-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 16px;
    font-weight: 400px;
}

.knowledge-list img {
    width: 20px;
    height: 20px;
}

.knowledge-container {
    border: solid rgba(39, 30, 30, 0.045);
    gap: 50px;
    text-align: left;
    margin-bottom: 60px;
}


.call-to-action {
    width: 1360px;
    height: 385px;
    margin: 0px auto;
    background-color: #F7F6F2;
    border: solid rgba(39, 30, 30, 0.045);
    /* border: solid red; */

}

.call-to-action-content {
    max-width: 1360px;
    max-height: 385px;
    align-items: center;
    align-content: center;
    margin: 0px auto;
    padding-top: 15px;
    
}

.call-to-action-head {
    width: 1280px;
    margin-top: 70px;
    text-align: center;
    margin-left: 40px;
    color: #001931;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

.call-to-action-paragraph {
    width: 1280px;
    text-align: center;
    margin-left: 40px;
    color: #627382;
    font-size: 16px;
    margin-bottom: 24px;
    margin-top: 16px;
}

.call-to-action-btn {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.footer {
    width: 100%;
    background-color: #001931;
    height: 348px;
}

.footer-container {
    max-width: 100%px;
    margin: 84px auto 0;
    border: solid rgba(39, 30, 30, 0.045);
}

.footer-element {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 80px;
    width: 80%;
    margin-left: 120px;
}

.footer-logo img {
    width: 139px;
    height: 60px;
}

.social-icon {
    text-align: center;
}

.social-head h6 {
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 12px;
}

.social-icon img {
    width: 20px;
    height: 20px;
    margin-left: 12px;
}

hr {
    margin: 32px 0;
    border: none;
    border-top: 1px solid rgba(255,255,255,0.15);
}

.copyright {
    text-align: center;
    color: #FAFAFA;
    font-size: 16px;
    font-weight: 300;
}

.bottom-element {
    margin-top: 90px;
}